body{
    background-image: url(/MiniProject/Media/oyo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

}
body h1{
    font-size: 55px;
    text-shadow: 1px 1px 2px white;

}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.5);

}
.topnavlinks {
    display: flex;
    align-items: center; 
}

.topnavlinks a{
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid black;
    width: 100%;
    height: 20px;
    padding: 10px;
    letter-spacing: 0.3px;
    color: black;
    background-color: #f29d92;

}
.topnavlinks a:hover{
    text-decoration: underline;
}

.topnavlinks p{
    display: inline;
    margin-left: 40px;
    margin-right: 30px;
}
.searchbuttons input{
    display: inline;
    height: 42px;
}
.searchbuttons button{
    margin-right: 30px;
    height: 100%;
    color: green;
}

.dropdown button{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 42px;
    width: 100%;
    padding: 10px;
    background-color: #f29d92;
    border: 1px solid black;        
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    margin-left: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    overflow: hidden;
    background-color: rgba(255,255,255,0.5);
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.loginbox{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
    width: 1000px;
    margin-top: 90px;
}
.loginbox h2{
    font-size: 50px;
    text-shadow: 1px 1px 2px white;
    margin: auto;
}
.loginbox .logininputs{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.gender form{
    padding: 20px;
}
.loginbox .loginbutton{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.loginbox button{
    width:100%;
    height:20px;
    border:none;
    border-radius:5px;
    font-size:17px;
    font-weight:600;
    color:#fff;
    background-color:green;
    cursor:pointer;
}
.disclaimerbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #FFFFFF;
    border-radius: 5px;
    background-color: white;
    margin: 50px 130px;
    letter-spacing: 1px;
    padding: 30px;
}
.disclaimerbox h2{
    font-size: 60px;
    margin: auto;
    font-weight: 500;
}
.disclaimerbox ul{
    padding: 3px ;
}
.disclaimerbox .importantdisclaimer{
    background-color: #8aa4f9;
    list-style: none;
    margin: 10px 10px;
}